.modelling-view {
    padding: 0 calc(4rem - 24px);

    &-form {
        padding-top: 1rem;

        &__parameters {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 50%;

            .mat-form-field.wide {
                width: 100%;
            }

            .mat-form-field {
                width: 270px;
            }
        }
    }

    .konvajs-content {
        border: 1px solid;
    }
}
