<div class="breadcrumbs">
    <a routerLink="/">{{ "port-modelling-fe.common.home" | translate }}</a>
    <span class="divider">/</span>
    <span>Моделирование системы</span>
</div>
<mat-stepper class="modelling-view" linear (selectionChange)="onStepSelectChange($event)">
    <mat-step>
        <ng-template matStepLabel>{{ "port-modelling-fe.common.description" | translate }}</ng-template>
        <div class="modelling-view-instruction">
            <h2>{{ "port-modelling-fe.modellingView.instruction" | translate }}</h2>
            <ul>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction1' | translate"></span></li>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction2' | translate"></span></li>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction3' | translate"></span></li>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction4' | translate"></span></li>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction5' | translate"></span></li>
                <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction6' | translate"></span></li>
            </ul>
            <div class="modelling-view-instruction__actions">
                <button mat-button mat-stroked-button matStepperNext>{{ "port-modelling-fe.common.next" | translate }}</button>
            </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="commonParametersForm">
        <div class="modelling-view-form" >
            <ng-template matStepLabel>{{ "port-modelling-fe.modellingView.systemParameters" | translate }}</ng-template>
            <h3>Параметры для построения модели</h3>
            <div class="modelling-view-form__parameters" [formGroup]="modelParametersForm">
                <mat-form-field appearance="outline" class="modelling-view-form__parameter wide">
                    <mat-label>{{ "port-modelling-fe.modellingView.arrivalDistribution" | translate }}</mat-label>
                    <mat-select required [formControlName]="parameters.ARRIVAL_DISTRIBUTION">
                        <mat-option *ngFor="let distribution of distributions" [value]="distribution.id">{{ distribution.value }}</mat-option>
                    </mat-select>
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.arrivalDistributionFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.ARRIVAL_DISTRIBUTION).invalid">{{ getErrorMessage(parameters.ARRIVAL_DISTRIBUTION) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="calculate-values-form-parameter wide">
                    <mat-label>{{ "port-modelling-fe.calculateValues.characteristic" | translate }}</mat-label>
                    <mat-select required [formControlName]="'requiredCharacteristics'" multiple>
                        <mat-select-trigger>
                            {{ getControl('requiredCharacteristics').value?.[0]?.value ?? '' }}
                            <span *ngIf="getControl('requiredCharacteristics').value?.length > 1">
                                (+{{ getControl('requiredCharacteristics').value.length - 1 }} {{ getControl('requiredCharacteristics').value?.length === 2 ? "характеристика" : "характеристики" }})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let characteristic of modellingSystemCharacteristics | keyvalue" [value]="characteristic">{{ characteristic.value }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="getControl('requiredCharacteristics').invalid">{{ "port-modelling-fe.modellingView.characteristicRequiredError" | translate }}</mat-error>
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.chooseCharacteristicHint" | translate }}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.time" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="20"
                           max="50"
                           [formControlName]="parameters.TIME"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.timeFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.timeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.TIME).invalid">{{ getErrorMessage(parameters.TIME) | translate }}</mat-error>
                </mat-form-field>
            </div>
            <h3>Параметры для контейнерных судов</h3>
            <div class="modelling-view-form__parameters" [formGroup]="systemParametersForm">
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.serversNum" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="1"
                           [formControlName]="parameters.SERVERS_NUM"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.serversNumFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serversNumFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.SERVERS_NUM).invalid">{{ getErrorMessage(parameters.SERVERS_NUM) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'poisson'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.serveTime" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="parameters.SERVE_TIME"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.serveTimeFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.SERVE_TIME).invalid">{{ getErrorMessage(parameters.SERVE_TIME) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.lambda" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="parameters.LAMBDA"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.lambdaFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.lambdaFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.LAMBDA).invalid">{{ getErrorMessage(parameters.LAMBDA) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.queueLength" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="parameters.QUEUE_LENGTH"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.queueLengthFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.queueLengthFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(parameters.QUEUE_LENGTH).invalid">{{ getErrorMessage(parameters.QUEUE_LENGTH) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'uniform'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.a1" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="0.1"
                           max="5"
                           [formControlName]="'a1'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl('a1').invalid">{{ getErrorMessage('a1') | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'uniform'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.b1" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="0.1"
                           max="5"
                           [formControlName]="'b1'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl('b1').invalid">{{ getErrorMessage('b1') | translate }}</mat-error>
                </mat-form-field>
            </div>
            <h3>Затраты</h3>
            <div class="modelling-view-form__parameters" [formGroup]="expensesForm">
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "Затраты при простое судна" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="'waitCost'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.cargoAppearanceFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(additionalShipTypeParameters.CARGO_APPEARANCE_PROBABILITY).invalid">{{ getErrorMessage(additionalShipTypeParameters.CARGO_APPEARANCE_PROBABILITY) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "Затраты при простое причала" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="'idleCost'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.cargoServersNumFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(additionalShipTypeParameters.CARGO_SERVERS_NUM).invalid">{{ getErrorMessage(additionalShipTypeParameters.CARGO_SERVERS_NUM) | translate }}</mat-error>
                </mat-form-field>
            </div>
            <h3>Параметры для сухогрузов</h3>
            <div class="modelling-view-form__parameters" [formGroup]="additionalShipTypeForm">
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.cargoAppearance" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="0"
                           max="1"
                           [formControlName]="additionalShipTypeParameters.CARGO_APPEARANCE_PROBABILITY"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.cargoAppearanceFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.cargoAppearanceFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(additionalShipTypeParameters.CARGO_APPEARANCE_PROBABILITY).invalid">{{ getErrorMessage(additionalShipTypeParameters.CARGO_APPEARANCE_PROBABILITY) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'poisson'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.serveTimeCargo" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="additionalShipTypeParameters.SERVE_TIME_CARGO"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.serveTimeCargoFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeCargoFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(additionalShipTypeParameters.SERVE_TIME_CARGO).invalid">{{ getErrorMessage(additionalShipTypeParameters.SERVE_TIME_CARGO) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.cargoServersNum" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           [formControlName]="additionalShipTypeParameters.CARGO_SERVERS_NUM"
                           [matTooltipPosition]="'above'"
                           [matTooltip]="'port-modelling-fe.modellingView.cargoServersNumFieldHint' | translate"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.cargoServersNumFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl(additionalShipTypeParameters.CARGO_SERVERS_NUM).invalid">{{ getErrorMessage(additionalShipTypeParameters.CARGO_SERVERS_NUM) | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'uniform'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.a2" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="0.1"
                           max="5"
                           [formControlName]="'a2'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl('a2').invalid">{{ getErrorMessage('a2') | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="selectedDistribution === 'uniform'" class="modelling-view-form__parameter">
                    <mat-label>{{ "port-modelling-fe.modellingView.b2" | translate }}</mat-label>
                    <input matInput
                           required
                           type="number"
                           min="0.1"
                           max="5"
                           [formControlName]="'b2'"
                    />
                    <mat-hint align="start">{{ "port-modelling-fe.modellingView.serveTimeFieldHint" | translate }}</mat-hint>
                    <mat-error *ngIf="getControl('b2').invalid">{{ getErrorMessage('b2') | translate }}</mat-error>
                </mat-form-field>
            </div>
            <mat-toolbar class="modelling-view-form__actions">
                <button mat-button matStepperPrevious>{{ "port-modelling-fe.common.back" | translate }}</button>
                <button mat-button mat-stroked-button (click)="applyValues()">Смоделировать</button>
            </mat-toolbar>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ "port-modelling-fe.modellingView.modelCreate" | translate }}</ng-template>
        <app-common-react-wrapper *ngIf="isBrowser" [props]="simulationVariables" class="modelling-view-canvas-wrapper"></app-common-react-wrapper>
    </mat-step>
</mat-stepper>
