<div class="modelling-view">
  <app-common-react-wrapper [props]="simulationVariables" class="modelling-view-canvas-wrapper"></app-common-react-wrapper>
<!--  <app-system-animation *ngIf="isBrowser" [variables]="simulationVariables"></app-system-animation>-->
  <div class="modelling-view-form" [formGroup]="systemParametersForm">
    <div class="modelling-view-form__parameter">
      <mat-form-field appearance="outline">
        <mat-label>Количество каналов</mat-label>
        <input matInput type="number" min="2" max="10" [value]="controlToParameterMap.get(parameters.SERVERS_NUM).value" [formControlName]="parameters.SERVERS_NUM">
      </mat-form-field>
      <div class="modelling-view-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.SERVERS_NUM).value" [formControlName]="parameters.SERVERS_NUM" [min]="2" [max]="10" [step]="1" [tickInterval]="1" [thumbLabel]="true"></mat-slider>
        <div class="modelling-view-form__parameter-slider-values">
          <label class="modelling-view-form__parameter-slider-values-left">2</label>
          <label class="modelling-view-form__parameter-slider-values-right">10</label>
        </div>
      </div>
    </div>
    <div class="modelling-view-form__parameter">
      <mat-form-field appearance="outline">
        <mat-label>Время обслуживания</mat-label>
        <input matInput type="number" min="0" max="4" [value]="controlToParameterMap.get(parameters.SERVE_TIME).value" [formControlName]="parameters.SERVE_TIME">
      </mat-form-field>
      <div class="modelling-view-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.SERVE_TIME).value" [formControlName]="parameters.SERVE_TIME" [min]="0" [max]="4" [step]="0.1" [tickInterval]="0.1" [thumbLabel]="true"></mat-slider>
        <div class="modelling-view-form__parameter-slider-values">
          <label class="modelling-view-form__parameter-slider-values-left">0</label>
          <label class="modelling-view-form__parameter-slider-values-right">4</label>
        </div>
      </div>
    </div>
    <div class="modelling-view-form__parameter">
      <mat-form-field appearance="outline">
        <mat-label>Интенсивность потока заявок</mat-label>
        <input matInput type="number" min="0" max="4" [value]="controlToParameterMap.get(parameters.LAMBDA).value" [formControlName]="parameters.LAMBDA">
      </mat-form-field>
      <div class="modelling-view-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.LAMBDA).value" [formControlName]="parameters.LAMBDA" [min]="0" [max]="4" [step]="0.1" [tickInterval]="0.1" [thumbLabel]="true"></mat-slider>
        <div class="modelling-view-form__parameter-slider-values">
          <label class="modelling-view-form__parameter-slider-values-left">0</label>
          <label class="modelling-view-form__parameter-slider-values-right">4</label>
        </div>
      </div>
    </div>
    <div class="modelling-view-form__parameter">
      <mat-form-field appearance="outline">
        <mat-label>Максимальная длина очереди</mat-label>
        <input matInput type="number" min="0" max="10" [value]="controlToParameterMap.get(parameters.QUEUE_LENGTH).value" [formControlName]="parameters.QUEUE_LENGTH">
      </mat-form-field>
      <div class="modelling-view-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.QUEUE_LENGTH).value" [formControlName]="parameters.QUEUE_LENGTH" [min]="1" [max]="10" [step]="1" [tickInterval]="1" [thumbLabel]="true"></mat-slider>
        <div class="modelling-view-form__parameter-slider-values">
          <label class="modelling-view-form__parameter-slider-values-left">1</label>
          <label class="modelling-view-form__parameter-slider-values-right">10</label>
        </div>
      </div>
    </div>
    <div class="modelling-view-form__parameter">
      <mat-form-field appearance="outline">
        <mat-label>Время моделирования</mat-label>
        <input matInput type="number" min="20" max="40" [value]="controlToParameterMap.get(parameters.TIME).value" [formControlName]="parameters.TIME">
      </mat-form-field>
      <div class="modelling-view-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.TIME).value" [formControlName]="parameters.TIME" [min]="20" [max]="40" [step]="1" [tickInterval]="1" [thumbLabel]="true"></mat-slider>
        <div class="modelling-view-form__parameter-slider-values">
          <label class="modelling-view-form__parameter-slider-values-left">20</label>
          <label class="modelling-view-form__parameter-slider-values-right">40</label>
        </div>
      </div>
    </div>
  </div>
</div>
