.modelling-view {
  height: 100%;

  .mat-drawer {
    padding: 1rem;
  }

  .mat-drawer-content {
    padding: 1rem 2rem;
  }

  .toggle-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  .konvajs-content {
    border: 1px solid;
  }

  .mat-form-field {
    &-wrapper {
      padding-bottom: 0;
    }
    label {
      font-size: 20px;
    }
  }

  &-form {
    width: 50vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;

    &__actions {
      &__button {
        margin-top: 1rem;
      }
    }

    &__parameters {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .system-field {
      width: 30%;
    }
    &__parameter {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 16px;
      gap: 10px;

      .mat-form-field {
        width: 35%;
      }

      &-slider {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        &-values {
          position: absolute;
          width: 98%;
          top: 65%;
          left: 4px;
          &-left {
            float: left;
          }
          &-right {
            float: right;
          }
        }

        .mat-slider {
          width: 100%;
        }
      }
    }
  }
}
