<div class="homepage-component">
  <div class="homepage-component-description">
    <div class="headline">
      <h1>Морской порт как система массового обслуживания</h1>
    </div>
    <div class="homepage-component__system-functions">
      <mat-card class="homepage-component__card" [routerLink]="'/calculate'">
        <mat-card-header>
          <mat-card-title>Построить графики характеристик</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et volutpat odio. Quisque pretium in orci eget rutrum. Suspendisse potenti. Cras varius leo eu lorem egestas, vitae euismod magna efficitur.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="homepage-component__card" [routerLink]="'/system-example'">
        <mat-card-header>
          <mat-card-title>Посмотреть пример построения модели</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et volutpat odio. Quisque pretium in orci eget rutrum. Suspendisse potenti. Cras varius leo eu lorem egestas, vitae euismod magna efficitur.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="homepage-component__card" [routerLink]="'/modelling-view'">
        <mat-card-header>
          <mat-card-title>Смоделировать систему</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et volutpat odio. Quisque pretium in orci eget rutrum. Suspendisse potenti. Cras varius leo eu lorem egestas, vitae euismod magna efficitur.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="after"></div>
</div>

