<main class="homepage-component-wrapper">
  <h1>Оптимальная конфигурация морского порта</h1>
  <img class="port-icon-image" src="/assets/pictures/port-icon.png">
  <p class="lead">
    Существует большой класс транспортных систем, работу которых сложно изучить аналитическими способами, но которые легко поддаются изучению с помощью использования методов
    статистического моделирования. К таким системам можно отнести морской порт, представив его
    в виде системы массового обслуживания (СМО).
  </p>
  <p>
    В транспортной системе порты занимают одно из важных мест как сложные технологически многозвенные подсистемы, предназначенные для смены вида транспорта в кратчайшие сроки
    и по конкурентным ценам. В таких транспортных подсистемах, как правило, всегда имеют место
    непроизводительные простои судов и груза.
  </p>
  <p>
    Для работы портов характерным является поток входных заявок от судов, поступающих
    в порт на производство погрузочно-разгрузочных работ (ПРР). В соответствии с этими заявками
    суда могут ставиться для производства ПРР на один из нескольких причалов порта, образующих
    причальный фронт. Эксплуатационная деятельность порта, связанная с обработкой судов, может
    условно (схематично) рассматриваться как функционирование локальной СМО, предназначенной
    для обслуживания транспортных судов по случайно возникающим запросам.
  </p>
  В случае моделирования работы морского порта в качестве основных рассматриваются следующие характеристики:
    <ul>
      <li>
        – количество судозаходов в день;
      </li>
      <li>
        – среднее время облуживания суда;
      </li>
      <li>
        – среднее время ожидания обслуживания;
      </li>
      <li>
        – необходимое количество мест для ожидания;
      </li>
      <li>
        – необходимое количество мест для обслуживания.
      </li>
    </ul>
    Актуальной задачей является поиск оптимальных вариантов использования ресурсов транспортных систем, таких как порт.
  <br/>
  <a mat-raised-button color="primary" [routerLink]="['/system-example']">Посмотреть пример системы</a>
</main>
