<h2 mat-dialog-title>Многоканальная система массового обслуживания с ограниченной очередью</h2>
<mat-dialog-content>
    <p>Обозначается как <span [mathContent]="'$M/M/c/K$'"></span> в символике Кендалла</p>
    <h3>Для вычисления характеристик системы используются следующие формулы:</h3>
    <p>
        <span [mathContent]="'$m$'"></span>
        <span>- Длина очереди</span>
    </p>
    <p>
        <span [mathContent]="'$n$'"></span>
        <span>- Количество каналов обслуживания</span>
    </p>
    <span [mathContent]="a"></span>
    <span [mathContent]="pk"></span>
    <span [mathContent]="pns"></span>
    <p>
        <span [mathContent]="'$P_{n+m}$'"></span>
        <span>- Вероятность отказа</span>
    </p>
    <span [mathContent]="qLen"></span>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ "port-modelling-fe.common.close" | translate }}</button>
</mat-dialog-actions>
