@use '@angular/material' as mat;
@use '@angular/material-experimental' as mat-experimental;

$candy-app-primary: mat.define-palette(mat.$indigo-palette);
$candy-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$candy-app-theme: mat.define-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
  )
));


@include mat-experimental.mdc-slider-theme($candy-app-theme);
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.port-modelling-backdrop {
  background: rgb(0, 0, 0, 0.15);
}

.breadcrumbs {
  padding: 1rem 4rem;
  display: flex;
  gap: 5px;
}

