html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

/*.app-root {*/
/*  gap: 1rem;*/
/*}*/

/*.application-content {*/
/*  margin: 1% 5%;*/
/*}*/

.port-modelling-backdrop {
  background: rgb(0, 0, 0, 0.15);
}
