html,
body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

.port-modelling-backdrop {
    background: rgb(0, 0, 0, 0.15);
}

.breadcrumbs {
    padding: 1rem 4rem;
    display: flex;
    gap: 5px;
}
