<div class="modelling-instruction">
    <h2>{{ "port-modelling-fe.modellingView.instruction" | translate }}</h2>
    <ul>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction1' | translate"></span></li>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction2' | translate"></span></li>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction3' | translate"></span></li>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction4' | translate"></span></li>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction5' | translate"></span></li>
        <li><span [innerHTML]="'port-modelling-fe.modellingView.instruction6' | translate"></span></li>
    </ul>
    <div class="modelling-instruction__actions">
        <button mat-button mat-stroked-button matStepperNext>{{ "port-modelling-fe.common.next" | translate }}</button>
    </div>
</div>
