<mat-toolbar color="primary">
    <div class="header-mat-toolbar-content">
        <div>
            <a mat-button class="companyName" routerLink="/">
                <span class="header-title">{{ "port-modelling-fe.common.home" | translate }}</span>
            </a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="/system-example">Пример системы</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="/calculate">Построить графики</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="/examples">Примеры</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="/modelling-view">Смоделировать</a>
            <span class="header-spacer"></span>
        </div>
    </div>
</mat-toolbar>
