<mat-toolbar color="primary" class="common-header">
    <div class="common-header-mat-toolbar-content">
        <a mat-button class="companyName" routerLink="/">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-button routerLinkActive="active" routerLink="/system-example" id="header-system-examples">Пример системы</a>
        <a mat-button routerLinkActive="active" routerLink="/calculate" id="header-charts">Построить графики</a>
        <a mat-button routerLinkActive="active" routerLink="/examples" id="header-examples">Примеры</a>
        <a mat-button routerLinkActive="active" routerLink="/modelling-view" id="header-modelling">Смоделировать</a>
        <span class="header-spacer"></span>
    </div>
</mat-toolbar>
