<div class="breadcrumbs">
    <a routerLink="/">{{ "port-modelling-fe.common.home" | translate }}</a>
    <span class="divider">/</span>
    <span>{{ "port-modelling-fe.calculateValues.systemChoice" | translate }}</span>
</div>

<main class="calculate-values__main">
    <h1>{{ "port-modelling-fe.calculateValues.main.calculateParameters" | translate }}</h1>
    <h3>{{ "port-modelling-fe.calculateValues.main.description1" | translate }}</h3>
    <ol>
        <li [innerHTML]="'port-modelling-fe.calculateValues.main.description2' | translate"></li>
        <li [innerHTML]="'port-modelling-fe.calculateValues.main.description3' | translate"></li>
        <li [innerHTML]="'port-modelling-fe.calculateValues.main.description4' | translate"></li>
    </ol>
    <h4 [innerHTML]="'port-modelling-fe.calculateValues.main.description5' | translate"></h4>
    <h2 class="calculate-values__system-type-header">{{ "port-modelling-fe.calculateValues.main.chooseSystemType" | translate }}</h2>
    <div class="calculate-values__select-system">
        <mat-form-field appearance="outline" class="calculate-values__select-system__field">
            <mat-label>{{ "port-modelling-fe.common.systemType" | translate }}</mat-label>
            <mat-select [(value)]="selectedValue">
                <mat-option *ngFor="let system of systems" [value]="system.id">{{ system.value | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="onContinueClicked()" color="primary">{{ "port-modelling-fe.common.continue" | translate }}</button>
    </div>
</main>
