.calculate-values {
  &__main {
    padding: 2rem 4rem;
    text-align: center;
  }

  &__select-system {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__field {
      width: 40%;
    }
  }
}
