<div class="calculate-values" [formGroup]="systemParametersForm">
  <mat-form-field appearance="outline" class="system-field">
    <mat-label>Тип системы</mat-label>
    <mat-select [formControlName]="'systemType'">
      <mat-option *ngFor="let system of systems" [value]="system.id">{{system.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="calculate-values__charts-wrapper" *ngIf="isBrowser">
    <div class="chart-canvas">
      <canvas baseChart
              [datasets]="servingProbabilityData"
              [labels]="lineChartLabels"
              [options]="{ responsive: true }"
              [colors]="servingProbabilityColors"
              [legend]="true"
              [chartType]="'line'">
      </canvas>
      <ng-container [ngTemplateOutlet]="canvasLabel"></ng-container>
    </div>
    <div class="chart-canvas">
      <canvas baseChart
              [datasets]="queueLengthData"
              [labels]="lineChartLabels"
              [options]="{ responsive: true }"
              [colors]="queueLengthColors"
              [legend]="true"
              [chartType]="'line'">
      </canvas>
      <ng-container [ngTemplateOutlet]="canvasLabel"></ng-container>
    </div>
    <div class="chart-canvas">
      <canvas baseChart
              [datasets]="systemTimeData"
              [labels]="lineChartLabels"
              [options]="{ responsive: true }"
              [colors]="systemWaitingTimeColors"
              [legend]="true"
              [chartType]="'line'">
      </canvas>
      <ng-container [ngTemplateOutlet]="canvasLabel"></ng-container>
    </div>
  </div>
  <div class="calculate-values-form">
    <mat-radio-group [formControlName]="'rangeParameter'">
      <div class="calculate-values-form__parameter">
        <mat-radio-button [value]="parameters.SERVERS_NUM"></mat-radio-button>
        <mat-form-field appearance="outline">
          <mat-label>Количество каналов (n)</mat-label>
          <input matInput type="number" min="2" max="10" [value]="controlToParameterMap.get(parameters.SERVERS_NUM).value" [formControlName]="parameters.SERVERS_NUM">
        </mat-form-field>
        <div class="calculate-values-form__parameter-slider">
          <mat-slider [value]="controlToParameterMap.get(parameters.SERVERS_NUM).value" [formControlName]="parameters.SERVERS_NUM" [min]="2" [max]="10" [step]="1" [tickInterval]="1" [thumbLabel]="true"></mat-slider>
          <div class="calculate-values-form__parameter-slider-values">
            <label class="calculate-values-form__parameter-slider-values-left">2</label>
            <label class="calculate-values-form__parameter-slider-values-right">10</label>
          </div>
        </div>
      </div>
      <div class="calculate-values-form__parameter">
        <mat-radio-button [value]="parameters.SERVE_TIME"></mat-radio-button>
        <mat-form-field appearance="outline">
          <mat-label>Время обслуживания (t)</mat-label>
          <input matInput type="number" min="0" max="4" [value]="controlToParameterMap.get(parameters.SERVE_TIME).value" [formControlName]="parameters.SERVE_TIME">
        </mat-form-field>
        <div class="calculate-values-form__parameter-slider">
          <mat-slider [value]="controlToParameterMap.get(parameters.SERVE_TIME).value" [formControlName]="parameters.SERVE_TIME" [min]="0" [max]="4" [step]="0.1" [tickInterval]="0.1" [thumbLabel]="true"></mat-slider>
          <div class="calculate-values-form__parameter-slider-values">
            <label class="calculate-values-form__parameter-slider-values-left">0</label>
            <label class="calculate-values-form__parameter-slider-values-right">4</label>
          </div>
        </div>
      </div>
      <div class="calculate-values-form__parameter">
        <mat-radio-button [value]="parameters.LAMBDA"></mat-radio-button>
        <mat-form-field appearance="outline">
          <mat-label>Интенсивность потока заявок (&lambda;) </mat-label>
          <input matInput type="number" min="0" max="4" [value]="controlToParameterMap.get(parameters.LAMBDA).value" [formControlName]="parameters.LAMBDA">
        </mat-form-field>
        <div class="calculate-values-form__parameter-slider">
          <mat-slider [value]="controlToParameterMap.get(parameters.LAMBDA).value" [formControlName]="parameters.LAMBDA" [min]="0" [max]="4" [step]="0.1" [tickInterval]="0.1" [thumbLabel]="true"></mat-slider>
          <div class="calculate-values-form__parameter-slider-values">
            <label class="calculate-values-form__parameter-slider-values-left">0</label>
            <label class="calculate-values-form__parameter-slider-values-right">4</label>
          </div>
        </div>
      </div>
      <div class="calculate-values-form__parameter">
      <mat-radio-button [value]="parameters.QUEUE_LENGTH"></mat-radio-button>
      <mat-form-field appearance="outline">
        <mat-label>Максимальная длина очереди (m)</mat-label>
        <input matInput type="number" min="0" max="10" [value]="controlToParameterMap.get(parameters.QUEUE_LENGTH).value" [formControlName]="parameters.QUEUE_LENGTH">
      </mat-form-field>
      <div class="calculate-values-form__parameter-slider">
        <mat-slider [value]="controlToParameterMap.get(parameters.QUEUE_LENGTH).value" [formControlName]="parameters.QUEUE_LENGTH" [min]="1" [max]="10" [step]="1" [tickInterval]="1" [thumbLabel]="true"></mat-slider>
        <div class="calculate-values-form__parameter-slider-values">
          <label class="calculate-values-form__parameter-slider-values-left">1</label>
          <label class="calculate-values-form__parameter-slider-values-right">10</label>
        </div>
      </div>
    </div>
  </mat-radio-group>
    <div class="calculate-values-form-info">
      <mat-label>&mu; = 1 / t = {{1 / controlToParameterMap.get(parameters.SERVE_TIME).value}}</mat-label>
      <mat-label>&rho; = &lambda; / &mu; = &lambda; * t = {{controlToParameterMap.get(parameters.SERVE_TIME).value * controlToParameterMap.get(parameters.LAMBDA).value}}</mat-label>
    </div>
  </div>
</div>
<ng-template #canvasLabel>
  <ng-container [ngSwitch]="disabledParameter">
    <mat-label *ngSwitchCase="parameters.LAMBDA" class="chart-canvas-label">&lambda;</mat-label>
    <mat-label *ngSwitchCase="parameters.QUEUE_LENGTH" class="chart-canvas-label">m</mat-label>
    <mat-label *ngSwitchCase="parameters.SERVE_TIME" class="chart-canvas-label">t</mat-label>
    <mat-label *ngSwitchDefault class="chart-canvas-label">n</mat-label>
  </ng-container>
</ng-template>
