<h2>Многоканальная система массового обслуживания с отказами</h2>
<p>Обозначается как <span [mathContent]="'$M/M/c/c$'"></span> в символике Кендалла</p>
<h3>Для вычисления характеристик системы используются следующие формулы:</h3>
<span [mathContent]="rho"></span>
<span [mathContent]="pn"></span>
<p>Вероятность того, что все каналы обслуживания заняты
    <span [mathContent]="'$P_c$'"></span>
    называется формулой Эрланга <span [mathContent]="'$B[c,p]$'"></span>
</p>
<span [mathContent]="b"></span>

<span [mathContent]="a"></span>
