<h2>{{ "port-modelling-fe.kendall.title" | translate }}</h2>
<p [innerHTML]="'port-modelling-fe.kendall.description' | translate"></p>
<div class="kendall-notation__content">
    <div class="kendall-notation__content__header">
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.A)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.A"
            >A</span
        >
        /
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.S)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.S"
            >S</span
        >
        /
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.c)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.c"
            >c</span
        >
        /
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.K)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.K"
            >K</span
        >
        /
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.N)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.N"
            >N</span
        >
        /
        <span class="kendall-notation__kendall-character" (mouseover)="selectKendallCharacter(kendallCharacters.D)" [class.selected-character]="selectedKendallCharacter === kendallCharacters.D"
            >D</span
        >
    </div>
    <mat-accordion class="kendall-notation__content__accordion" [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.A)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.A">
                <mat-panel-title> A </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionA" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="descriptionTable" [ngTemplateOutletContext]="{ dataSource: arrivalProcessDataSource }"></ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.S)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.S">
                <mat-panel-title> S </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionS" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="descriptionTable" [ngTemplateOutletContext]="{ dataSource: serviceProcessDataSource }"></ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.c)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.c">
                <mat-panel-title> c </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionC" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.K)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.K">
                <mat-panel-title> K </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionK" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.N)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.N">
                <mat-panel-title> N </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionN" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header (mouseover)="selectKendallCharacter(kendallCharacters.D)" [class.selected-list]="selectedKendallCharacter === kendallCharacters.D">
                <mat-panel-title> D </mat-panel-title>
                <mat-panel-description>
                    {{ "port-modelling-fe.kendall.descriptionD" | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="descriptionTable" [ngTemplateOutletContext]="{ dataSource: queueDisciplineDataSource }"></ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<ng-template #descriptionTable let-dataSource="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> {{ "port-modelling-fe.common.symbol" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.symbol | translate }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ "port-modelling-fe.common.name" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.name | translate }} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{ "port-modelling-fe.common.description" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.description | translate }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</ng-template>
