.kendall-notation {
  b {
    font-weight: bold !important;
  }
  .mat-card-header {
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 0.5rem;
  }
  &__kendall-character {
    padding: 0.5rem;
  }
  & .selected-list {
    border-radius: 5px;
    color: white;
    background: #007bff;
  }
  & .selected-character {
    border-radius: 5px;
    color: white;
    background: #007bff;
  }
}
