<div class="breadcrumbs">
  <a routerLink="/">Домой</a>
  <span class="calculate-values-form-breadcrumbs__divider">/</span>
  <a routerLink="/calculate">Выбор системы</a>
  <span class="calculate-values-form-breadcrumbs__divider">/</span>
  <span>{{systemName}}</span>
</div>
<div class="calculate-values-form">
  <h1 class="calculate-values-form-title">
    {{systemName}}
    <mat-icon class="toggle-icon" (click)="openDialog()">help_outline</mat-icon>
  </h1>
  <div class="calculate-values-form-parameters">
    <div class="calculate-values-form-parameters__examples mat-elevation-z1">
      <span class="description-span">Примеры</span>
      <cdk-virtual-scroll-viewport appendOnly itemSize="5" class="list">
        <mat-selection-list [multiple]="false" (selectionChange)="onPrefilledParameterSelect($event)">
          <mat-list-option *cdkVirtualFor="let type of prefilledSystemTypes" [value]="type.value">{{type.text}}</mat-list-option>
        </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="calculate-values-form-parameters__system mat-elevation-z1" [formGroup]="systemParametersForm">
      <span class="description-span">Ось Х</span>
      <mat-form-field appearance="outline" class="calculate-values-form-parameters__system-axis">
        <mat-label>Параметр</mat-label>
        <mat-select [formControlName]="'rangeParameter'">
          <mat-option *ngFor="let parameter of systemParameters" [innerHTML]="parameter.value" [value]="parameter.id"></mat-option>
        </mat-select>
      </mat-form-field>
      <div class="calculate-values-form-parameters__system-range">
        <mat-slider [matTooltipPosition]="'left'" [matTooltip]="'Разброс значений'" discrete [min]="0.1" [max]="3" [step]="0.1" class="range-slider">
          <input [formControlName]="'rangeFrom'" matSliderStartThumb>
          <input [formControlName]="'rangeTo'" matSliderEndThumb>
        </mat-slider>
        <mat-form-field appearance="outline" class="step-field">
          <mat-label>Шаг</mat-label>
          <input matInput type="number" min="0.1" max="2" [formControlName]="'step'">
        </mat-form-field>
      </div>
      <mat-divider class="calculate-values-form-parameters__divider"></mat-divider>
      <span class="description-span">Параметры системы</span>
      <div class="calculate-values-form-parameters__system-variables">
        <mat-form-field appearance="outline" *ngIf="rangeParameterControl.value !== parameters.SERVERS_NUM">
          <mat-label>Количество каналов (n)</mat-label>
          <input matInput type="number" min="1" max="10" [formControlName]="parameters.SERVERS_NUM">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="rangeParameterControl.value !== parameters.SERVE_TIME">
          <mat-label>Время обслуживания (t)</mat-label>
          <input matInput type="number" min="0.1" max="4" [formControlName]="parameters.SERVE_TIME">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="rangeParameterControl.value !== parameters.LAMBDA">
          <mat-label>Интенсивность потока заявок (&lambda;) </mat-label>
          <input matInput type="number" min="0.1" max="4" [formControlName]="parameters.LAMBDA">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="rangeParameterControl.value !== parameters.QUEUE_LENGTH">
          <mat-label>Максимальная длина очереди (m)</mat-label>
          <input matInput type="number" min="1" max="10" [formControlName]="parameters.QUEUE_LENGTH">
        </mat-form-field>
      </div>
      <mat-divider class="calculate-values-form-parameters__divider last"></mat-divider>
      <mat-form-field appearance="outline" class="calculate-values-form-parameters__system-characteristic">
        <mat-label>График характеристики</mat-label>
        <mat-select [formControl]="systemCharacteristicParameterControl" multiple>
          <mat-select-trigger>
            {{systemCharacteristicParameterControl.value?.[0]?.value ?? ''}}
            <span *ngIf="systemCharacteristicParameterControl.value?.length > 1" class="example-additional-selection">
              (+{{systemCharacteristicParameterControl.value.length - 1}} {{systemCharacteristicParameterControl.value?.length === 2 ? 'характеристика' : 'характеристики'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let characteristic of availableSystemCharacteristics" [value]="characteristic">{{characteristic.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="calculate-values-form-parameters__submit">
        <button color="primary" mat-raised-button (click)="_onSubmit()">Рассчитать</button>
      </div>
    </div>
  </div>
</div>
<div class="calculate-values-form__charts-wrapper" *ngIf="charts?.length">
  <app-highchart-wrapper class="mat-elevation-z2" *ngFor="let data of charts; let i = index" [dataModel]="data" [needScroll]="i === 0"></app-highchart-wrapper>
</div>
