<h2>{{ "port-modelling-fe.symbols.title" | translate }}</h2>
<h3>{{ "port-modelling-fe.symbols.symbolsDescriptionHeader" | translate }}</h3>
<ul class="definitions">
    <li>
        <span [mathContent]="'$\\lambda$'"></span>
        —{{ "port-modelling-fe.symbols.lambda" | translate }}
    </li>
    <li>
        <span [mathContent]="'$\\mu$'"></span>
        —{{ "port-modelling-fe.symbols.mu" | translate }}
    </li>
    <li>
        <span [mathContent]="'$S$'"></span>
        —{{ "port-modelling-fe.symbols.S" | translate }}
        <span [mathContent]="'$E[S] = \\frac{1}{\\mu}$'"></span>
    </li>
    <li>
        <span [mathContent]="'$E(W)$'"></span>
        —{{ "port-modelling-fe.symbols.e_w" | translate }}
    </li>
    <li>
        <span [mathContent]="'$P_0$'"></span>
        —{{ "port-modelling-fe.symbols.p_0" | translate }}
    </li>
    <li>
        <span [mathContent]="'$\\rho$'"></span>
        —{{ "port-modelling-fe.symbols.rho" | translate }}
        <span [mathContent]="'$\\rho = \\lambda \\bar{S}$'"></span>
    </li>
    <li>
        <span [mathContent]="'$P_k$'"></span>
        —{{ "port-modelling-fe.symbols.p_k" | translate }}
    </li>
    <li>
        <span [mathContent]="'$c$'"></span>
        —{{ "port-modelling-fe.symbols.c" | translate }}
    </li>
    <li>
        <span [mathContent]="'$K$'"></span>
        —{{ "port-modelling-fe.symbols.K" | translate }}
    </li>
    <li>
        <span [mathContent]="'$\\bar{Q}$'"></span>
        —{{ "port-modelling-fe.symbols.q" | translate }}
    </li>
</ul>
