<div class="breadcrumbs">
    <a routerLink="/">{{ "port-modelling-fe.common.home" | translate }}</a>
    <span class="divider">/</span>
    <span>Пример построения модели</span>
</div>

<div class="system-example">
    <mat-stepper>
        <mat-step>
            <ng-template matStepLabel>{{ "port-modelling-fe.systemExample.titles.symbols" | translate }}</ng-template>
            <div class="system-example-symbols">
              <app-symbols-description></app-symbols-description>
            </div>
            <app-kendall-notation-component></app-kendall-notation-component>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{ "port-modelling-fe.systemExample.titles.model" | translate }}</ng-template>
            <ng-template matStepContent>
                <h2>{{ "port-modelling-fe.systemExample.modelDescription.header" | translate }}</h2>
                <p>{{ "port-modelling-fe.systemExample.modelDescription.intro" | translate }}</p>
                <p>{{ "port-modelling-fe.systemExample.modelDescription.structure" | translate }}</p>
                <h3>{{ "port-modelling-fe.systemExample.modelDescription.terminal.characteristicTitle" | translate }}</h3>
                <ol>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.terminal.openSystem" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.terminal.channels" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.terminal.arrivalDistribution" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.terminal.queueDiscipline" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.terminal.noConnection" | translate }}</li>
                </ol>
                <h3>{{ "port-modelling-fe.systemExample.modelDescription.arrivals.title" | translate }}</h3>
                <ul>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.arrivals.independent" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.arrivals.noRemember" | translate }}</li>
                    <li>{{ "port-modelling-fe.systemExample.modelDescription.arrivals.stationary" | translate }}</li>
                </ul>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{ "port-modelling-fe.systemExample.titles.characteristics" | translate }}</ng-template>
            <ng-template matStepContent>
                <div class="system-example-calculations">
                    <div class="system-example-calculations__table">
                        <h3>График грузозаходов в порт "Санкт Петербург"</h3>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Название </th>
                                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                            </ng-container>
                            <ng-container matColumnDef="arrive">
                                <th mat-header-cell *matHeaderCellDef> Время захода </th>
                                <td mat-cell *matCellDef="let element"> {{ element.arrive }} </td>
                            </ng-container>
                            <ng-container matColumnDef="leave">
                                <th mat-header-cell *matHeaderCellDef> Время выхода </th>
                                <td mat-cell *matCellDef="let element"> {{ element.leave }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                    <app-m-m-c-k-system></app-m-m-c-k-system>
                </div>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>
