.system-example {
    padding: 0 calc(4rem - 24px);
    &-symbols {
        padding-bottom: 1rem;
        &__definitions {
            li {
                padding-top: 1rem;
            }
        }
    }
    &-calculations {
        &__table {
            width: 50%;
            table {
                width: 100%;
            }
        }
    }
}
